@{
    ViewData["Title"] = "About";
}

<!-- Breadcrumb Start -->
<div class="breadcrumb-area ptb-50">
    <div class="container">
        <div class="breadcrumb">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li class="active"><a href="about.html">About Us</a></li>
            </ul>
        </div>
    </div>
    <!-- Container End -->
</div>
<!-- Breadcrumb End -->
<!-- About Main Area Start -->
<div class="about-main-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="about-img mb-5 mb-lg-0">
                    <a href="#"><img class="img" src="~/assets/img/banner/14.jpg" alt="about-us"></a>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="about-content">
                    <h3>Why We are?</h3>
                    <p>Mellentesque faucibus dapibus dapibus. Morbi aliquam aliquet neque. Donec placerat dapibus sollicitudin. Morbi arcu nisi, mattis ut ullamcorper in, dapibus ac nunc. Cras bibendum mauris et sapien feugiat. scelerisque accumsan nibh gravida. Quisque aliquet justo elementum lectus ultrices bibendum.</p>
                    <ul class="mt-20 about-content-list">
                        <li><a href="#">Amazing wordpress theme</a></li>
                        <li><a href="#">HTML &amp; CSS3 build with bootstrap</a></li>
                        <li><a href="#">Powerfull admin panel</a></li>
                        <li><a href="#">Icon well organized &amp; SEO optimized friendy</a></li>
                        <li><a href="#">Iconncredible design</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About Main Area End -->
<!-- Our Mission Start -->
<div class="about-bottom mtb-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-12">
                <div class="ht-single-about">
                    <h3>OUR SKILLS</h3>
                    <div class="skill-bar">
                        <div class="skill-bar-item">
                            <span>WEB DESIGN</span>
                            <div class="progress">
                                <div class="progress-bar wow fadeInLeft" data-progress="80%" style="width: 80%; visibility: visible; animation-duration: 1.5s; animation-delay: 1.2s; animation-name: fadeInLeft;" data-wow-duration="1.5s" data-wow-delay="1.2s">
                                    <span class="text-top">80%</span>
                                </div>
                            </div>
                        </div>
                        <div class="skill-bar-item">
                            <span>PHP &amp; JAVASCRIPT</span>
                            <div class="progress">
                                <div class="progress-bar wow fadeInLeft" data-progress="90%" style="width: 90%; visibility: visible; animation-duration: 1.5s; animation-delay: 1.2s; animation-name: fadeInLeft;" data-wow-duration="1.5s" data-wow-delay="1.2s">
                                    <span class="text-top">90%</span>
                                </div>
                            </div>
                        </div>
                        <div class="skill-bar-item">
                            <span>HTML5 &amp; CSS3</span>
                            <div class="progress">
                                <div class="progress-bar wow fadeInLeft" data-progress="70%" style="width: 70%; visibility: visible; animation-duration: 1.5s; animation-delay: 1.2s; animation-name: fadeInLeft;" data-wow-duration="1.5s" data-wow-delay="1.2s">
                                    <span class="text-top">70%</span>
                                </div>
                            </div>
                        </div>
                        <div class="skill-bar-item">
                            <span>wordpress</span>
                            <div class="progress">
                                <div class="progress-bar wow fadeInLeft" data-progress="95%" style="width: 95%; visibility: visible; animation-duration: 1.5s; animation-delay: 1.2s; animation-name: fadeInLeft;" data-wow-duration="1.5s" data-wow-delay="1.2s">
                                    <span class="text-top">95%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="ht-single-about">
                    <h3>OUR EXPERIENCES</h3>
                    <h5>FUSCE FRINGILLA PORTTITOR IACULI SED QUAM LIBERO, ADIPISCING SED ERAT ID</h5>
                    <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu nisi ac mi malesuada vestibulum. Phasellus tempor nunc eleifend cursus molestie. Mauris lectus arcu, pellentesque at sodales sit amet,</p>
                    <p>Donec ornare mattis suscipit. Praesent fermentum accumsan vulputate. Sed velit nulla, sagittis non erat id, dictum vestibulum ligula. Maecenas sed enim sem.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="ht-single-about">
                    <h3>OUR WORKS</h3>
                    <div class="ht-about-work">
                        <span>1</span>
                        <div class="ht-work-text">
                            <h5><a href="#">LOREM IPSUM DOLOR SIT AMET</a></h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu nisi ac mi</p>
                        </div>
                    </div>
                    <div class="ht-about-work">
                        <span>2</span>
                        <div class="ht-work-text">
                            <h5><a href="#">DONEC FERMENTUM EROS</a></h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu nisi ac mi</p>
                        </div>
                    </div>
                    <div class="ht-about-work">
                        <span>3</span>
                        <div class="ht-work-text">
                            <h5><a href="#">LOREM IPSUM DOLOR SIT AMET</a></h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu nisi ac mi</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Our Mission End -->
<!-- Categorie Page Brand Banner Start -->
<div class="container">
    <!-- Brand Banner Start -->
    <div class="brand-banner border-default owl-carousel pt-30 mb-50">
        <div class="single-brand">
            <a href="#"><img class="img" src="~/assets/img/brand/1.png" alt="brand-image"></a>
        </div>
        <div class="single-brand">
            <a href="#"><img src="~/assets/img/brand/2.png" alt="brand-image"></a>
        </div>
        <div class="single-brand">
            <a href="#"><img src="~/assets/img/brand/3.png" alt="brand-image"></a>
        </div>
        <div class="single-brand">
            <a href="#"><img src="~/assets/img/brand/4.png" alt="brand-image"></a>
        </div>
        <div class="single-brand">
            <a href="#"><img src="~/assets/img/brand/1.png" alt="brand-image"></a>
        </div>
    </div>
    <!-- Brand Banner End -->
</div>
<!-- Categorie Page Brand Banner End -->
<!-- Signup Newsletter Start -->
<div class="newsletter">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="main-news-desc">
                    <div class="news-desc">
                        <h3>Sign Up For <span>Newsletters</span></h3>
                        <p>Get e-mail updates about our latest shop and special offers.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="newsletter-box">
                    <form action="#">
                        <input class="subscribe" placeholder="Enter your email address" name="email" id="subscribe" type="text">
                        <button type="submit" class="submit">subscribe</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Signup-Newsletter End -->
