<div class="middle-menu">
    <nav>
        <ul class="middle-menu-list">
            <li>
                <a href="index.html">
                    home<i class="fa fa-angle-down"></i>
                </a>
                <!-- Home Version Dropdown Start -->
                <ul class="ht-dropdown home-dropdown">
                    <li><a href="index.html">Home Version 1</a></li>
                    <li><a href="index-2.html">Home Version 2</a></li>
                    <li><a href="index-3.html">Home Version 3</a></li>
                    <li><a href="index-4.html">Home Version 4</a></li>
                </ul>
                <!-- Home Version Dropdown End -->
            </li>
            <li><a asp-controller="home" asp-action="about">about us</a></li>
            <li><a asp-controller="home" asp-action="contact">contact us</a></li>
            <li><a asp-controller="home" asp-action="faq">FAQ</a></li>
            <li>
                <a href="blog.html">
                    blog<i class="fa fa-angle-down"></i>
                </a>
                <!-- Home Version Dropdown Start -->
                <ul class="ht-dropdown dropdown-style-two">
                    <li><a href="blog-details.html">blog details</a></li>
                </ul>
                <!-- Home Version Dropdown End -->
            </li>
            <li>
                <a href="#">pages<i class="fa fa-angle-down"></i></a>
                <!-- Home Version Dropdown Start -->
                <ul class="ht-dropdown dropdown-style-two">
                    <li><a href="login.html">login</a></li>
                    <li><a href="register.html">register</a></li>
                    <li><a href="404.html">404</a></li>
                </ul>
                <!-- Home Version Dropdown End -->
            </li>
            <li>
                <a href="shop.html">
                    shop<i class="fa fa-angle-down"></i>
                </a>
                <!-- Home Version Dropdown Start -->
                <ul class="ht-dropdown dropdown-style-two">
                    <li><a href="product.html">product details</a></li>
                    <li><a href="compare.html">compare</a></li>
                    <li><a href="cart.html">cart</a></li>
                    <li><a href="checkout.html">checkout</a></li>
                    <li><a href="wishlist.html">wishlist</a></li>
                </ul>
                <!-- Home Version Dropdown End -->
            </li>
        </ul>
    </nav>
</div>